# Build exclusions
*.o
*.ko
*.mod.c
*.mod
*.order
*.symvers
modules.order
Module.symvers

# Compiled user-space binary
src_user/usb_monitor

# Python cache
__pycache__/
*.pyc

# Editor / IDE
.vscode/
.idea/
*.swp
*~

# Archives
*.zip
*.tar.gz


# Python virtual environment
.venv_report/
